.task-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3.25rem;
}

.task-container-box {
  min-width: 400px;
  height: 36.25rem;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.9375rem;
  margin-right: 25px;
}
.task-head {
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.task-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.task-icon {
  width: 1.375rem;
  height: 1.375rem;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  padding: 0.25rem;
  text-align: center;
  position: absolute;
  right: 29px;
}
.task-body-desc {
  width: 28.3125rem;
  height: 5.1875rem;
  display: flex;
  justify-content: flex-start;
  padding: 1.1875rem 1rem 0.625rem 0.6875rem;
  background: #fdfdfd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.task-description > p > span {
  font-weight: 600;
  padding-left: 0.125rem;
  font-size: 1rem;
  padding-right: 0.3125rem;
}
.task-description > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}
.threadbuilder1.content-box__thread > p {
  width: 29.875rem;
  height: 2.5rem;
  background: rgba(254, 255, 192, 0.2);
  border: 0.1px solid rgba(0, 0, 0, 0.4);
}
.content__box-message {
  width: 443px;
  height: 42px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 27px;
}
/* .body__left-slider-notification */
.notification-ul {
  padding: 0 51px 0 32px;
}
.notification-ul > li:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  padding-top: 21px;
  padding-bottom: 18px;
}
/* ext */
.single-asset-container {
  box-shadow: none;
}

@media (min-width: 375px) and (max-width: 400px) {
  .container {
    min-width: 375px;
    max-width: 400px;
  }
  .header {
    min-width: 375px;
    max-width: 400px;
    justify-content: space-around;
    flex-direction: row;
  }
  .header > img {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    height: 28px;
  }
  .header__right {
    margin: 0;
    justify-content: center;
  }
  .header__right--menu {
    margin: 0;
  }
  section.body {
    min-width: 375px;
    max-width: 400px;
  }
  .body__left-slider {
    width: 65px;
  }
  #notification__count {
    width: 54px;
    height: 54px;
    font-size: 20px;
    padding-top: 19px;
  }
  .body__left-slider-notification {
    height: 360px;
  }
  .body__right-content {
    width: 450px;
    margin: 20px 0px 0 20px;
  }
  .body__right-content-box {
    width: 450px;
  }
  .task-container {
    width: 450px;
  }
  .task-container-box {
    max-width: 350px;
  }
  .task-head {
    width: 100%;
  }
  .task-body-desc {
    width: 92%;
  }
  .task-description {
    width: 95%;
  }
  .iframe {
    width: 100%;
  }
  .thread--one.one {
    padding: 0 12px;
  }
  .thread--one > p {
    width: 150px;
  }
  .thread--one > input {
    width: 150px;
  }
  .content__box-message {
    max-width: 350px;
    margin-top: 15px;
    justify-content: center;
  }
  .content__box-message > * {
    width: 80%;
    margin-right: 5px;
  }
  .content__box-message > ul,
  .select-option {
    justify-content: flex-end;
    margin-top: 5px;
  }
  .thread-btn {
    max-width: 350px;
    margin-top: 10px;
  }
  .thread-btn > button {
    width: 40%;
  }
  .two-summary {
    width: 100%;
  }
  .two-summary > p {
    width: 95%;
  }
  .two-summary > input {
    width: 100%;
  }
  .structure-title {
    max-width: 300px;
  }
  .structure-title > input {
    width: 100%;
  }
  .structure-content {
    max-width: 300px;
  }
  .content-edit-options {
    max-width: 100%;
    padding: 5px 5px;
  }

  .content-edit-options > p {
    width: 20px;
    padding: 5px;
    font-size: 10px;
  }

  .structure-content > input {
    width: 103%;
  }
  .body__right-content--head {
    width: 85vw;
    height: fit-content;
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 20%;
  }
  .body__right-content--head > h2 {
    width: 50%;
  }
  .body__right-content--head > button {
    width: 40%;
  }
  .body__right-content--head#title {
    font-size: 15px;
  }
  .body__right-content-task {
    max-width: 300px;
    height: fit-content;
    flex-direction: row;
  }
  .floating-icons {
    margin-right: 10px;
  }
  .floating-icons > img {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 960px) {
  .body {
    /* position: static; */
  }
  .header {
    min-width: 500px;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;
  }
  .header > img {
    width: 40%;
    margin: 0 0 0 5px;
  }
  .header__right {
    width: 45%;
    margin: 0;
  }
  .header__right--menu {
    margin: 0;
  }
  .body__left-slider {
    width: 79px;
  }
  .notification__count {
    width: 50px;
    height: 50px;
  }
  .body {
    max-width: 100vw;
  }
  .body__right-content {
    width: 80vw;
    margin: 20px 0 50px 30px;
  }
  .body__right-content--head {
    width: 80%;
    margin-bottom: 54px;
  }
  .body__right-content--head #title {
    font-size: 25px;
  }
  .body__right-content--head > button {
    padding: 5px;
  }
  .body__right-content-task {
    width: 85%;
    height: fit-content;
    flex-direction: row;
  }
  .body__right-content-box,
  .task-container {
    max-width: 400px;
  }
  .task-container-box {
    min-width: 300px;
    max-width: 400px;
  }
  .task-head,
  .task-body-desc,
  .task-description,
  .iframe {
    width: 100%;
  }
  .thread--one {
    max-width: 150px;
  }
  .thread--one.one {
    padding: 0 15px 0 15px;
  }
  .thread--one > p {
    width: 100%;
  }
  .thread--one > input {
    width: 100%;
  }
  .content__box-message {
    max-width: 350px;
  }
  .content__box-message > ul {
    width: 45%;
    height: 25px;
    align-items: center;
  }
  .thread-btn {
    max-width: 400px;
  }
  .two-summary {
    max-width: 300px;
  }
  div.two-summary > p {
    width: 100%;
  }
  .two-summary > input {
    width: 105%;
  }
  .task-description > p {
    padding: 1.1875rem 1rem 0.625rem 0.6875rem;
  }
  .task-body-desc {
    padding: 0;
  }
  .structure-title,
  .structure-content {
    max-width: 300px;
  }
  .structure-title > input,
  .structure-content > input {
    width: 100%;
  }
  .structure-content {
    margin: 0 10px;
  }
  .content-edit-options {
    width: 100%;
  }
  .content-edit-options {
    padding: 5px;
  }
  .content-edit-options > p {
    width: 15px;
    padding: 0 6px;
  }
  .structure-content > input {
    width: 103%;
  }
  .notice-board {
    top: 17vh;
    right: 0;
  }
  .notice-board > div {
    height: 370px;
  }
  .floating-icons {
    margin-right: 5%;
  }
  .floating-icons > img {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}

@media (min-width: 961px) and (max-width: 1100px) {
  .header {
    min-width: 900px;
    max-width: 100vw;
  }
  .body {
    min-width: 900px;
    max-width: 100vw;
  }
  .body__right-content--head {
    min-width: 900px;
    max-width: 100vw;
    justify-content: flex-start;
  }
  .body__right-content--head > h2 {
    width: 60%;
    margin-right: 8%;
  }
  .body__right-content--head > button {
    width: 10%;
  }
  .body__right-content-task {
    max-width: 75vw;
  }
  .body__right-content-task > * {
    max-width: 80%;
  }

  .notice-board {
    top: 0%;
    right: 0;
  }
}

/* js add */
.notice-on {
  width: 392px;
  height: 692px;
  position: absolute;
  z-index: 1;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
}
.body__left-slider-notification {
  display: flex;
  flex-direction: column;
}
